.controls-container {
  width: 50%;
  margin: auto;
}

@media all and (min-width: 1024px) {
  .controls-container {
    width: 512px;
  }
}

.plus,
.minus {
  padding: auto;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsla(63, 80%, 68%, 100%);
  margin: 1rem;
  padding: 1rem;
  width: min-content;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  cursor: pointer;
  -webkit-user-select: none; /* don't highlight */
}

.plus-img,
.minus-img {
  width: 1rem;
  display: inline-block;
}
