.landing-header {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  padding: 10%;
}

.info-container {
  width: 100%;
  margin: 0 auto 2rem auto;
  color: white;
  text-align: center;
  background-color: rgb(18, 9, 66);
  padding: 2rem 0;
}

.info-container p {
  color: hsl(4, 0%, 78%);
}

.info-container ul {
  padding: 2rem;
  width: 50%;
  margin: auto;
  display: inline-block;
  color: hsl(4, 0%, 78%);
}

.info-container li {
  text-align: left;
}

.button-container {
  width: 100%;
  display: inline-block;
}

#get-started {
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  background-color: rgb(255, 172, 46);
  color: white;
  width: 20%;
  display: block;
  margin: 10% auto;
  text-align: center;
  border: 2px solid darkslategray;
}

#get-started:hover {
  background-color: hsl(39, 100%, 50%);
  cursor: pointer;
}

.image-container {
  width: 100%;
  display: inline-block;
  margin-top: 2rem;
}

.image {
  display: block;
  width: 30%;
  margin: auto;
}

@media all and (max-width: 600px) {
  .image {
    width: 95%;
  }
}

@media all and (max-width: 1024px) {
  .image {
    width: 50%;
  }
}

@media all and (min-width: 1024px) {
  .image {
    width: 308px; /* matches previous breakpoint */
  }
}
