.bar-section-container {
  background-color: hsla(222, 35%, 37%, 100%);
  width: 50%;
  height: 4.25em;
  border: none;
  border-radius: 0.3rem;
  margin: auto;
  padding: 0.25rem 0.25rem 0 0.25rem;
  color: white;
}

#score-text {
  padding: 0 0 0.25rem 0.5rem;
}

.bar-container {
  background-color: black;
  width: 80%;
  height: 2rem;
  border: none;
  margin: auto;
  float: left;
}

.percent-bar {
  background-color: lightgreen;
  height: 100%;
  width: 100%;
  animation-name: movebar;
  animation-duration: 1s;
}

.start,
.goal {
  display: block;
  width: 10%;
  float: left;
  height: 2rem;
  font-weight: 100;
}

.start h3,
.goal h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
