.settings-container {
  width: 50%;
  margin: 2rem auto 2rem auto;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
}

#settings-header {
  color: darkslategray;
}

.block {
  width: 80%;
  margin: 1.25rem 1rem;
}

.block label {
  width: 60%;
  display: inline-block;
  font-weight: 100;
  font-size: 0.9rem;
  color: darkslategray;
}

.block input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid lightgray;
}

.background-select,
.bar-color-select {
  width: 25%;
}

.navy {
  background-color: hsla(222, 35%, 37%, 100%);
}

.blue {
  background-color: hsla(243, 34%, 43%, 100%);
}

.red {
  background-color: hsla(360, 62%, 55%, 100%);
}

.yellow {
  background-color: hsla(59, 95%, 78%, 100%);
}

.green {
  background-color: hsla(115, 65%, 69%, 100%);
}

.purple {
  background-color: hsla(284, 34%, 37%, 100%);
}

.orange {
  background-color: hsla(39, 81%, 68%, 100%);
}

.none {
  background-color: hsla(0, 0%, 0%, 0%);
}
