.settings-container {
  width: 50%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
}

.block {
  width: 100%;
  text-align: right;
}

.block label {
  width: 50%;
}

.block input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid lightgray;
}
