.settings-container {
  width: 50%;
  margin: 2rem auto 2rem auto;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

#settings-header {
  color: darkslategray;
}

.block {
  width: 1fr;
  margin: 1.25rem 0;
}

.block label {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  font-size: 0.9rem;
  color: darkslategray;
}

.block input,
.block select {
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid lightgray;
}

@media all and (min-width: 1024px) {
  .settings-container {
    width: 512px;
  }
}

.navy {
  background-color: hsla(222, 35%, 37%, 100%);
}

.blue {
  background-color: hsla(243, 34%, 43%, 100%);
}

.red {
  background-color: hsla(360, 62%, 55%, 100%);
}

.yellow {
  background-color: hsla(59, 95%, 78%, 100%);
}

.green {
  background-color: hsla(115, 65%, 69%, 100%);
}

.purple {
  background-color: hsla(284, 34%, 37%, 100%);
}

.orange {
  background-color: hsla(39, 81%, 68%, 100%);
}

.none {
  background-color: hsla(0, 0%, 0%, 0%);
}
