.settings-container {
  width: 50%;
  margin: 2rem auto 2rem auto;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.block {
  width: 80%;
  margin: 1.25rem 1rem;
}

.block label {
  width: 60%;
  display: inline-block;
}

.block input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid lightgray;
}
