* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: hsla(222, 54%, 21%, 100%);
  padding: 1rem;
}

.footer {
  background-color: hsla(222, 54%, 16%, 100%);
  padding: 1rem;
}

.footer a {
  padding: 5% 5% 0 5%;
  color: white;
  text-decoration: none;
}

#title {
  color: white;
  font-family: Arial;
  font-size: 1.5rem;
}

.body {
  width: 100%;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(148deg, rgba(2,0,36,1) 0%, rgba(131,224,209,1) 0%, rgba(91,83,212,1) 100%);
}
