* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: hsla(222, 54%, 21%, 100%);
  padding: 1rem;
}

#title {
  color: white;
  font-family: Arial;
  font-size: 1.5rem;
}
