* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: hsla(222, 54%, 21%, 100%);
  padding: 1rem;
}

.footer {
  background-color: hsla(222, 54%, 16%, 100%);
  padding: 1rem;
}

.footer a {
  padding: 5% 5% 0 5%;
  color: white;
  text-decoration: none;
}

#title {
  color: white;
  font-family: Arial;
  font-size: 1.5rem;
}

.body {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    120deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(189, 123, 87, 1) 0%,
    rgba(174, 96, 213, 1) 100%
  );
}
